.calculator {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row .btn {
    background: rgb(42, 41, 41);
    width: 100px;
    height: 100px;
    color: white;
    font-size: 24px;
    flex: 1;
}

.display {
    height: 50px;
    width: 413px;
    color: white;
    background: rgb(42, 41, 41);
    font-size: 30px;
    text-align: right;
    flex: 1;
}